<div class="container">
  <div class="col-md order-md-1">
    <h4 class="mb-3">Shipping Address</h4>
    <form class="needs-validation" #userDetailsForm="ngForm">

      <div class="mb-3">
        <label for="email">Email
          <span class="text-muted"></span>
        </label>
        <input type="email" class="form-control" id="email" [(ngModel)]="userEmail" name="email" [disabled]="true">
      </div>

      <!-- <div class="mb-3 md-form">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" mdbInputDirective placeholder="" [(ngModel)]="order.orderAddress" name="orderAddress"
          required>
        <div class="invalid-feedback">
          Please enter your shipping address.
        </div>
      </div> -->


      <div class="md-form">
        <input mdbInputDirective type="text" id="address" class="form-control" required name="orderAddress" [(ngModel)]="order.orderAddress"
          mdbInputValidate>
        <label for="orderAddress">Address</label>
      </div>

      <div class="md-form">
        <input mdbInputDirective type="number" id="zip" class="form-control" required name="orderPostalCode" [(ngModel)]="order.orderPostalCode"
          mdbInputValidate>
        <label for="orderAddress">Postal Code </label>
      </div>


      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" [routerLink]="['/checkout', {outlets: {'checkOutlet': ['billing-details']}}]"
        routerLinkActive="active" [disabled]="!userDetailsForm.form.valid" (click)="updateOrderDetails(userDetailsForm)" type="button">Continue to Payment</button>
    </form>
  </div>
