<!--Accordion wrapper-->
<div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <ng-container *ngFor="let order of orders; let i=index">

    <div class="card" *ngIf="order.status!== 'NEW'">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingOne">
        <a data-toggle="collapse" href="#collapse{{order.orderId}}" aria-expanded="true">
          <h5 class="mb-0">
            Order #{{i}} - {{order.createdAt | date:'longDate'}} <i class="fa fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapse{{order.orderId}}" class="collapse show" role="tabpanel" data-parent="#accordionEx">
        <div class="card-body">
          <div class="col-md-12">
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of order.products">
                <div>
                  <img [src]="product.productImageUrl" [alt]="product.productName" width="100" height="100">
                </div>
                <div style="padding: 10px">
                  <h6 class=" my-0 ">{{product.productName}}</h6>
                  <p>Product Seller : {{product.productSeller}}</p>
                  <p>Product Qty : {{product.cartQty}}</p>
                </div>
                <span class="text-muted ">{{product.cartQty}} x ${{product.productPrice}}</span>
              </li>
              <hr>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <span>Order Details</span>
                <div>
                  <p>Order Address : {{order.orderAddress}}</p>
                </div>
                <div>
                  <p>Order Status : {{order.status}}</p>
                </div>


              </li>

            </ul>

          </div>

        </div>
      </div>
    </div>
    <!-- Accordion card -->


  </ng-container>


  <!-- Accordion card -->
</div>
<!--/.Accordion wrapper-->
